/*Better light theme*/
/*Contributors: Noahkiq*/
.theme-light .chat .messages {
	background: #EDEDED !important;
	background-color: #EDEDED !important;
}

.theme-light .chat form {
	background: #EDEDED !important;
	background-color: #EDEDED !important;
}

.theme-light .chat>.title-wrap {
	background: #EDEDED !important;
	background-color: #EDEDED !important;
}

.theme-light .flex-spacer {
	background: #EDEDED !important;
	background-color: #EDEDED !important;
}

.theme-light .flex-vertical {
	background: #EDEDED !important;
	background-color: #EDEDED !important;
}

.theme-light .channel-members {
	background-color: #E1E1E1 !important;
}
